@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.pet-care-container {
  display: flex;
  flex-wrap: wrap; /* Ensures elements wrap on smaller screens */
  align-items: center;
  justify-content: space-between;
  padding: 80px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.pet-care-image {
  flex: 1;
  display: flex;
  justify-content: center;
  max-width: 50%;
}

.pet-care-text {
  flex: 1;
  max-width: 50%;
  text-align: center;
}

.pet-care-text h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 48.41px;
  color: #0A453A;
  margin: 16px auto;
  max-width: 100%;
}

.care-message {
  font-family: 'Acme', sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #675BC8;
}

.pet-care-text p {
  max-width: 80%;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-top: 30px;
  line-height: 1.5;
  color: #0C0C0C;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.find-vet {
  background: #675BC8;
  width: 180px;
  height: 48px;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.find-vet:hover {
  background: #5646B2;
}

.pet-care-image img {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 820px) {
  .pet-care-container {
    flex-direction: column;
    padding: 40px;
    text-align: center;
  }

  .pet-care-image {
    width: 100%;
  }

  .pet-care-text {
    max-width: 100%;
    padding: 20px;
  }

  .find-vet {
    width: 90%;
    margin: 20px auto 0 auto;
    text-align: center;
    

  }
}
