@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.review-title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 38.73px;
  text-align: center;
  color: #0C0C0C;
  width: 50%;
  max-width: 513px;
  margin: 30px auto;
}

.highlight-text {
  color: #0A453A;
}

.review-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 5%;
  position: relative;
  text-align: center;
}

.swiper-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 1200px;
}

.reviews-container {
  width: 100%;
  max-width: 900px;
  overflow: hidden;
  min-height: 300px;
  display: flex;
  justify-content: center; /* Ensure items are centered */
  align-items: center;
}

.review-card {
  height: 100%;
  margin: 0 auto; /* Ensures the cards are always centered */
}

/* Fixing Arrows Placement */
.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 10;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.custom-arrow img {
  width: 100%;
  height: auto;
}

.slider-arrow:hover {
  opacity: 0.7;
}

.write-review-btn {
  background: #675BC8;
  width: 172px;
  height: 48px;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.3s ease-in-out;
  margin-top: 30px;
}

.write-review-btn:hover {
  background: #5646B2;
}

@media screen and (max-width: 1024px) {
  .reviews-container {
    max-width: 700px;
    justify-content: center;
  }
  .custom-arrow {
    width: 35px;
    height: 35px;
  }
  .left-arrow {
    left: -20px;
  }
  .right-arrow {
    right: -20px;
  }
}

@media screen and (max-width: 768px) {
  .reviews-container {
    max-width: 500px;
    justify-content: center;
  }
  .custom-arrow {
    width: 30px;
    height: 30px;
  }
  .left-arrow {
    left: 5px;
  }
  .right-arrow {
    right: 5px;
  }
}

@media screen and (max-width: 480px) {
  .reviews-container {
    max-width: 400px;
    justify-content: center;
  }
  .custom-arrow {
    width: 25px;
    height: 25px;
  }
  .left-arrow {
    left: 0px;
  }
  .right-arrow {
    right: 0px;
  }
}
