@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.top-home-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
    background-color: #ffff;
}

.top-home-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.top-home-text {
    flex: 1;
    max-width: 50%;
}

.top-home-text h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 48.41px;
    text-align: center;
    width: 352.74px;
    height: 55px;
    display: flex;
    flex-direction: column;
    color: #0A453A;
    justify-content: center;
    align-items: center;
    margin: 16px;
}  

.loving-text {
    font-family: 'Acme';
    font-weight: 1000;
    font-size: 40px;
    letter-spacing: 0%;
    text-align: center;
    margin: 16px;
    color: #675BC8;
    display: inline-block;
}

.top-home-text p {
    width: 394px;
    height: 132px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-top: 55px;
    line-height: 21.78px;
    color: #0C0C0C;
}  

.top-home-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 390px;
    align-items: center;
    margin-top: 30px;
}

.adopt-btn {
    background: #675BC8;
    width: 172px;
    height: 48px;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.adopt-btn:hover {
    background: #5646B2;
}  

.raise-btn {
    background: transparent;
    width: 172px;
    height: 48px;
    border-radius: 8px;
    padding: 8px 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: 0%;
    color: #675BC8;
    border: 1px solid #675BC8;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.raise-btn:hover {
    background: #675BC8;
    color: white;
}

.top-home-image img {
    width: 650px;
    height: 600px;
    margin-left: 150px;
}

@media screen and (max-width: 820px) {
    .top-home-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .top-home-image img {
        width: 100%;
        height: auto;
        /* margin-left: 0; */
    }

    .top-home-text {
        max-width: 100%;
        padding: 20px;
    }

    .top-home-buttons {
        flex-direction: column;
        gap: 15px;
        width: 100%;
        align-items: center;
    }

    .adopt-btn,
    .raise-btn {
        width: 90%;
    }
}