.vet-card {
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    padding: 20px;
    margin: 15px;
    transition: transform 0.3s ease-in-out;
  }
  
  .vet-card:hover {
    transform: scale(1.05);
  }
  
  .vet-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .vet-info {
    color: #333;
  }
  
  .vet-name {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
  }
  
  .vet-specialty {
    font-size: 14px;
    color: #675BC8;
  }
  
  .vet-location {
    font-size: 14px;
    color: #777;
  }  